node_modules
.turbo
.next
dist
build
.env
.env.*
!.env.example.placeholder
.env.local
.env.development
.env.production
*.log
uploads
.DS_Store
coverage
.vercel
*.tsbuildinfo
apps/web/.next
apps/admin/.next
packages/db/prisma/migrations/**/migration_lock.toml.bak
